doctype html
html
    head
        meta(charset='utf-8')
        title= title
    body
        h1='title'
        ul
            each data in datas
                li
                    div
                        p=data.url
                        p=data.page_title
                        p=data._comment
                        
            
